@{
    ViewBag.Title = "Home Page";
}

<div class="row">
   
</div>

<div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
        <img src="~/images/helpmelogo.png" width="200" height="200" />
    </div>
    <div class="col-md-4">
       
    </div>
</div>